<div class="container background">
	<h1>The BucketReport</h1>
	<ul class="tabs left">
		<li><a ui-sref="auth.home">BucketList</a></li>
		<li><a ui-sref="auth.map">BucketMap</a></li>
		<li><a ui-sref="auth.completed">BucketReport</a></li>
		<li><a ui-sref="logout">Logout</a></li>
	</ul>


	<div>
		<h3>Things I've done...</h3>

		<div>
			<ul>
				<li ng-repeat="item in items">
					<span style="font-size:22px">{{item.description}}</span>
				</li>
			</ul>
		</div>
	</div>

	<div>
		<h3>Places I've been...</h3>

		<div>
			<ul>
				<li ng-repeat="bucket in buckets">
					<div>Location: <span style="font-size:22px">{{bucket.location.$$state.value}}</span></div>
					<div>Description: <span style="font-size:22px">{{bucket.description}}</span></div>
				</li>
			</ul>
		</div>
	</div>

</div>
	


