<div>	
		<a ui-sref="auth.home">BucketList</a>
		<a ui-sref="auth.map">BucketMap</a>
		<a ui-sref="auth.completed">Before kicking the bucket...</a>
		<a ui-sref="logout">Logout</a>
</div>

<h2>Completed Buckets</h2>

<div>
	<h3>Things I've done...</h3>

	<div>
		<ul>
			<li ng-repeat="item in items">
				{{item.description}}
			</li>
		</ul>
	</div>
</div>

<div>
	<h3>Places I've been...</h3>

	<div>
		<ul>
			<li ng-repeat="bucket in buckets">
				<div>{{bucket.location.$$state.value}}</div>
				<div>{{bucket.description}}</div>
			</li>
		</ul>
	</div>
</div>


